[["zsn2lwnp-tos-1" :tos/full-text "Terms Of Use - Origin Energy 
 Terms of use 
 General My Account Social Media EnergyZone 
 General 
 Origin general terms of use 
 These terms of use contain all kinds of important information about our site, including warranty disclaimers and liability limitations. By using this website, you agree to be bound by these terms of use. 
 Disclaimer 
 Origin has prepared this website to provide information about the company for its customers and other stakeholders. 
 The information presented here is of a general nature and there is a possibility that changes in circumstances after the date of publication may impact on the accuracy of the information. 
 Origin does not warrant that the information is correct, complete or adequate and does not warrant that the information will be useful for any particular purpose. Origin strongly advises you to seek independent professional advice before making any investment decisions. 
 Liability 
 To the maximum extent permitted by law, Origin accepts no responsibility or liability for any loss or damage (including for any indirect or consequential loss) relating to access or use of this website including the use or misuse of the information provided on this website. 
 Origin’s intellectual property 
 Unless otherwise indicated, Origin either owns the copyright in the content of this website or is licensed to use it. You are welcome to download this information for your own personal use or to inform others (for their personal use) about Origin’s businesses or products. You must otherwise obtain Origin’s prior consent before reproducing, altering, modifying or disseminating the information in this website. 
 You may not use any of the trademarks or logos from this website without the prior written permission of Origin. All intellectual property rights are reserved although Origin does not warrant that the content of the website will not infringe any third party’s intellectual property rights. 
 Links from this website 
 Links to other websites are provided for your convenience. Origin does not control these other websites and cannot be responsible for the content or accuracy of the information or other material on these websites. Including a link to other websites on this website does not mean that Origin endorses or approves the content of the linked website. 
 General 
 Unless otherwise specified or required by the context, any reference on this site (including in any disclaimer) to Origin or Origin Energy is a reference to Origin Energy Ltd (ABN 30 000 051 696) and each of its related bodies corporate, or such of its related bodies corporate as the context requires. 
 Origin may at any time vary these terms of use by publishing a revised version of the terms of use on this website. 
 The information on this website concerning the qualities, standards and availability of products and services together with the regulatory or legislative regimes that apply will, unless stated otherwise, have been prepared for Australian customers and customers outside of Australia should consider whether that information is still applicable. The law applicable to this website is the law of the State of New South Wales. 
 Security Statement 
 Origin has provided a secure environment for customers to input their personal data in the forms provided on the Origin website.  
 The security is performed in two separate ways and are detailed below: 
 Secure Socket Layer (SSL) certificate 
 The padlock icon in your browser indicates when you are in a secure section of the Origin website. The Origin website uses a VeriSign digital certificate. To view details of this certificate, double click on the padlock when it is closed and it will bring up information about the certificate. 
 This certificate ensures that the confidential information you send from your web browser to the server that the Origin website is hosted on via the World Wide Web will be encrypted. Any information travelling between these two points is encrypted which blocks third parties from being able to read the contents of the transmission. 
 Virtual Private Network (VPN) 
 The VPN encrypts the data that travels between the Origin website server and Origin. This ensures that the confidential information you send from the Origin website will be encrypted and blocks third parties from being able to read the contents of the transmission. 
 Cookies and social media widgets 
 A “cookie” is a small text file that contains information and is stored on your computer. Cookies are used purely for technical purposes to facilitate use of the web page. One type of cookie saves a file permanently on your computer. It may then be used to personalize a web page according to the user’s choices and interests. The other main type of cookie is called a “session cookie”. While you are visiting a web page, session cookies are sent between your computer and the server to access information. Session cookies disappear when you turn off your web browser.   
 The website might use social media widgets to enable users to engage with content from our website on various social platforms (Facebook, YouTube, Twitter, LinkedIn, etc.). To understand how and what information is collected and what cookies are set by these third parties, please refer to the privacy policy of the appropriate social platform. 
 If you do not wish to accept cookies, your web browser can be set so that you automatically deny the storage of cookies or are informed every time a website requests to be allowed to store a cookie. Previously stored cookies can also be deleted through the web browser. Please refer to your web browser’s help pages for more information.  However, please be aware that some areas or features of this website rely on cookies and so may not work if you delete or decline cookies. 
 My Account 
 My Account Terms of Use 
 My Account is intended for our residential and small business customers. Our commercial and industrial customers should refer to the My Business Account Terms of Use. 
 The My Account Terms of Use apply to your use of Origin’s My Account. Your use of My Account is also subject to the Origin General Terms of Use when you use originenergy.com.au (the “Website”). If you do not agree to the My Account Terms of Use or the Origin General Terms of Use, you must stop using My Account. 
 Eligibility & access 
 My Account is a free service for you as an Origin customer, that allows you to manage your Origin electricity, natural gas, LPG and internet accounts online. 
 To be eligible for My Account, you must be an Origin residential or small business customer with five or fewer sites taking one of more of the following – electricity, natural gas, LPG or internet from Origin. 
 To access My Account: 
 you must be the primary account holder for the service or be authorised by the primary account holder to have access; and 
 you will need a login (your email) and a password.  
 You are responsible for all actions taken by any person using My Account with your login and password (such as an authorised person or business associate).  You should change your password if you no longer want a previously authorised person to have continued access. 
 You must otherwise maintain the confidentiality of your password and notify Origin immediately at support@originenergy.com.au if you become aware of any unauthorised use of your My Account login and password. 
 Changing, suspending or terminating the My Account Terms of Use or My Account 
 Origin may change, suspend or terminate the My Account Terms of Use or My Account at any time.  
 Where we change the My Account Terms of Use or My Account in a way that we consider will have a material adverse impact on you, we will try and give you prior notice (generally via your email used to login or on the Website).  You should check My Account regularly for any other changes to the My Account Terms of Use or My Account. 
 In addition, we may terminate or suspend your access to My Account if you do not comply with the My Account Terms of Use or the Origin General Terms of Use (as they apply to your use of My Account). 
 You can ask us to terminate your My Account account at any time by emailing support@originenergy.com.au . 
 Any change, suspension or termination of the My Account Terms of Use or My Account will not affect the supply of electricity, natural gas, LPG or internet to your supply address. 
 From time to time we will contact you by email with information about the features available in My Business Account. If you do not wish to receive these emails, please notify us at businesscustomers@originenergy.com.au . We’ll keep sending these emails until you advise us otherwise. 
 Your use of My Account 
 When you use My Account, you must not: 
 use My Account for any unlawful purpose; 
 create or impersonate another person or misrepresent your or their authority to act; 
 introduce any viruses or other malicious code; 
 undermine or attempt to undermine the security or integrity of the computing systems or networks relating to or associated with My Account or Origin’s IT system; 
 attempt to gain, or allow others to gain, unauthorised access to such computing systems; and 
 attempt to decompile, or reverse-engineer any part of My Account or to obtain unauthorised access to My Account or portions of My Account that are restricted from general access or which you do not have access to as a user; or 
 transmit any material in violation of law or rights of any person, including material protected by copyright, material that is threatening or obscene, material that is defamatory or material protected by trade secrets or privacy. 
 Warranties  
 Origin acknowledges that you have non-excludable rights under the Australian Consumer Law that may apply to My Account.  Subject to these non-excludable rights, Origin does not warrant or represent that My Account is complete, current, secure or free from errors,  omissions or viruses or that My Account will be always available or uninterrupted. 
 If there is a discrepancy between a bill accessed through My Account and a bill issued to you via other means (such as email or post), the bill issued to you via other means will prevail. 
 You are responsible for the accuracy of the data you enter on My Account.  Origin is not responsible for a transaction or the failure of a transaction where the data you enter is inaccurate or you do not complete the transaction. 
 What laws apply 
 The law applicable to these terms are the laws of New South Wales.  
 General 
 My Account is provided by Origin Energy Retail Limited ABN 22 078 868 425 of 321 Exhibition Street, Melbourne, Victoria 3000 (together us , we , or our ) on behalf of the Origin Energy Group entity or entities that supply electricity, natural gas, LPG and/or internet to you. 
 To find out more about how Origin collects, uses, holds and discloses your personal and credit information when you use My Account or this Website, see our privacy statements at originenergy.com.au/privacy . 
 My Usage 
 My Account includes a section called My Usage which provides you with information about your electricity and natural gas consumption.  My Usage relies on some information provided to us by your distributor and as such: 
 Origin cannot guarantee that all features will be available; and 
 to the extent permitted by law, Origin does not warrant the accuracy or currency of the content provided.    
 If your supply address is in Victoria and you have an active smart meter for your electricity, My Usage will also include information about your interval meter data and a predicted bill. The predicted bill is intended to be used as a general guide and is based on a number of assumptions explained on the Website. Your actual electricity bill will vary and you must not rely on the predicted bill as a substitute for your actual bill. 
 Internet usage can also be accessed via My Account. Origin relies on information provided by a third party and as such, to the extent permitted by law, does not warrant the accuracy or currency of the content provided. 
 Cookies and social media widgets 
 A “cookie” is a small text file that contains information and is stored on your computer. Cookies are used purely for technical purposes to facilitate use of the web page. One type of cookie saves a file permanently on your computer. It may then be used to personalise a web page according to the user’s choices and interests. The other main type of cookie is called a “session cookie”. While you are visiting a web page, session cookies are sent between your computer and the server to access information. Session cookies disappear when you turn off your web browser. The website might use social media widgets to enable users to engage with content from our website on various social platforms (Facebook, YouTube, Twitter, LinkedIn, etc.). To understand how and what information is collected and what cookies are set by these third parties, please refer to the privacy policy of the appropriate social platform. 
 If you do not wish to accept cookies, your web browser can be set so that you automatically deny the storage of cookies or are informed every time a website requests to be allowed to store a cookie. Previously stored cookies can also be deleted through the web browser. Please refer to your web browser’s help pages for more information. However, please be aware that some areas or features of this website rely on cookies and so may not work if you delete or decline cookies. 
 Social Media 
 Social Media Terms of Use 
 We have a number of social media accounts, which currently include Facebook, Twitter, YouTube, Google Plus, LinkedIn and Pinterest (collectively, they’re known as our ‘Pages’). 
 All content on Origin’s Pages is subject to the individual terms of use outlined as prescribed by each social media channel. You can find out more about their individual terms of use below: 
 Twitter 
 Facebook 
 YouTube 
 LinkedIn 
 Instagram 
 By interacting with our Pages, you agree to be bound by these Terms of Use (“Terms of Use”). Origin may, in its absolute discretion, modify or amend these Terms of Use from time to time, and modifications and amendments will be binding to you once displayed here. 
 Licence 
 When you submit comments, images, audio, videos or other material (“User Content”) to any of our Pages, you agree that Origin can share and use your User Content (including in modified form), and can authorise others to share and use it. Origin may also continue to use and share User Content for any period of time beyond your removal of the User Content. 
 Content on Pages 
 Our Pages are provided for you to learn about our organisation, services and important information relating to energy. We want to create a safe, honest and supportive community, so we ask that you are respectful of all points of view, and refrain from personal attacks on other users. 
 Origin will monitor our Pages for any User Content that is distressing, offensive, profane, inappropriate, inflammatory, abusive, defamatory, threatening or derogatory in any way. Origin also expects that you will not upload any User Content that is unlawful, including by being misleading or defamatory or spam. 
 Origin respects intellectual property rights. You may not submit User Content to our Pages that is not generated by you, or that may otherwise breach the intellectual property rights of others. 
 You should not upload User Content that may prevent others from using our Pages, or that may damage others’ computers. For example, you should not upload User Content that you think may contain programming bugs, or computer viruses, faults or errors. 
 If you do upload such User Content, we reserve the right to remove it from our Pages (and/or report it) without providing notice to you. We will also remove any unapproved User Content that is commercial in nature. 
 Origin wants to share our information with as many people as possible. However, repeated breaches of these Terms of Use may eventually cause the user to be reported and blocked. 
 The User Content uploaded to our Pages reflects users’ views, and does not necessarily represent the opinions of Origin. Origin does not endorse or guarantee the accuracy of User Content uploaded to our Pages. You should make your own mind up about whether to accept or rely on the statements made by users on the Origin Twitter page. Origin is not responsible for any loss or damage arising from use of the User Content. 
 Origin also excludes responsibility for any advertising material that may be displayed on our Pages by third parties. 
 Reporting content 
 If you believe that content appearing on any of our Pages violates another party’s intellectual property rights, breaches our Terms of Use or is otherwise illegal / inappropriate (eg. spam, or content that personally identifies a person), please contact Origin at socialmanager@originenergy.com.au and we will investigate. 
 Origin may report any content that is published on the Pages if we are notified that content infringes another’s intellectual property rights or breaches any provision of these Terms of Use. 
 Customer Service 
 Please note Origin recognises that sometimes people need immediate help and support. Our Pages cannot provide you with specific advice, emergency services or support. If you need emergency assistance please visit our emergencies page . 
 Sharing links to third party websites 
 We try to keep our social community informed by sharing helpful content from third parties or linking to information on their websites. We don’t own or control these third party sites and providing links to them on our Pages doesn’t mean we endorse or approve of the sites, or take responsibility for their contents. We do not warrant the accuracy of any content provided on the linked websites. Further, nothing on our Pages provides a licence or right for you to use any third party content. You need to abide by the terms of use of any third party website. 
 Privacy 
 Please do not share your personal, financial or account information on our Pages. By agreeing to these Terms of Use, you also agree to our Privacy Policy . 
 Miscellaneous 
 To the extent permitted by law, you agree to indemnify us from and against all actions, claims, suits, demands, damages, liabilities, costs or expenses (whether in tort or in contract including and without limitation, negligence) arising out of or in any way connected to the use of the Pages by you. 
 We do not make any claims that the information or User Content on the Pages is appropriate or may be downloaded in all areas, countries or jurisdictions. The information contained in the Pages may not be accessed legally by certain persons or in certain countries. If you access the Pages, you do so at your own risk and you are responsible for complying with the laws of your jurisdiction. 
 EnergyZone 
 EnergyZone Terms of Use 
 EnergyZone is intended for our commercial and industrial business customers. Small business customers should refer to the My Account Terms of Use. 
 The EnergyZone Terms of Use apply to your use of Origin’s EnergyZone. 
 Your use of EnergyZone is also subject to the Origin General Terms of Use when you use originenergy.com.au (the “Website”).  If you do not agree to the EnergyZone Terms of Use or the Origin General Terms of Use, you must stop using EnergyZone. 
 Eligibility & access 
 EnergyZone is a free service for you as an Origin customer, that allows you to manage your Origin electricity and natural gas business accounts online. 
 To be eligible for EnergyZone, you must be an Origin Commercial and Industrial business customer taking electricity and/or gas from Origin. 
 To access EnergyZone: 
 you must be authorised to have access; and 
 you will need a login (your email) and a password. 
 You are responsible for all actions taken by any person using EnergyZone with your login. Access can be granted to additional employees of your organisation however in the event that an employee leaves your organisation, or you wish to discontinue access for any individual, it is your responsibility to keep user access up-to-date and/or inform Origin of any requests to amend user access.   
 You must otherwise maintain the confidentiality of your password and notify Origin immediately at BusinessCustomers@originenergy.com.au if you become aware of any unauthorised use of your EnergyZone login and password. 
 Changing, suspending or terminating the EnergyZone of Use or EnergyZone 
 Origin may change, suspend or terminate the EnergyZone Terms of Use or EnergyZone at any time. 
 Where we change the EnergyZone Terms of Use or EnergyZone in a way that we consider will have a material adverse impact on you, we will try and give you prior notice (generally via your email used to login or on the Website).  You should check EnergyZone regularly for any other changes to the EnergyZone Terms of Use or EnergyZone. 
 In addition, we may terminate or suspend your access to EnergyZone if you do not comply with the EnergyZone Terms of Use or the Origin General Terms of Use (as they apply to your use of EnergyZone). 
 You can terminate your EnergyZone account at any time.  If you do so, you must notify us at mybusinessaccount@originenergy.com.au . 
 Any change, suspension or termination of the EnergyZone Terms of Use or EnergyZone will not affect the supply of electricity and/or gas to your supply address. 
 Your use of EnergyZone 
 When you use EnergyZone, you must not: 
 use EnergyZone for any unlawful purpose; 
 create or impersonate another person or misrepresent your or their authority to act; 
 introduce any viruses or other malicious code; 
 undermine or attempt to undermine the security or integrity of the computing systems or networks relating to or associated with EnergyZone or Origin’s IT system; 
 attempt to gain, or allow others to gain, unauthorised access to such computing systems; and 
 attempt to decompile, or reverse-engineer any part of EnergyZone or to obtain unauthorised access to EnergyZone or portions of EnergyZone that are restricted from general access or which you do not have access to as a user; or 
 transmit any material in violation of law or rights of any person, including material protected by copyright, material that is threatening or obscene, material that is defamatory or material protected by trade secrets or privacy. 
 Warranties 
 Origin acknowledges that you have non-excludable rights under the Australian Consumer Law that may apply to EnergyZone.  Subject to these non-excludable rights, Origin does not warrant or represent that EnergyZone is complete, current, secure or free from errors, omissions or viruses or that EnergyZone will be always available or uninterrupted. 
 You are responsible for the accuracy of the data you enter on EnergyZone. Origin is not responsible for a transaction or the failure of a transaction where the data you enter is inaccurate or you do not complete the transaction. 
 What laws apply 
 The law applicable to these terms are the laws of New South Wales. 
 General 
 EnergyZone is provided by Origin Energy Retail Limited ABN 22 078 868 425 of 321 Exhibition Street, Melbourne, Victoria 3000 (together  us ,  we , or  our ) on behalf of the Origin Energy Group entity or entities that supply electricity and/or natural gas to you.  The Billing and Usage portal (as described below) is provided by us on behalf of Origin Energy Electricity Limited (ABN 33 071 052 287) of 321 Exhibition Street, Melbourne, Victoria 3000. 
 To find out more about how Origin collects, uses, holds and discloses your personal and credit information when you use EnergyZone or this Website, see our privacy statements at originenergy.com.au/privacy . 
 Billing and Usage portal 
 EnergyZone includes a section called ‘Billing and Usage’ which provides customers with electricity consumption data. The consumption data is provided to us by your meter provider and as such, there may be a delay when receiving and displaying data online. As we rely on data from your meter provider, Origin cannot guarantee that all data is available; and to the extent permitted by law, Origin does not warrant the accuracy or currency of the data provided.   
 The Billing and Usage portal displays estimated usage and estimated spend data. This data is based on historical meter data and your business consumption patterns and Origin does not warrant the accuracy of estimated usage and estimated spend. 
 The Reports section provides an Estimated Greenhouse Gas Emissions Summary graph. The data presented online is based on a published National Greenhouse Account (NGA) factor prepared by the Department of the Environment and Energy and as an estimate, Origin cannot guarantee that the data is complete or accurate. 
 At Home 
 Move house 
 Electricity and gas 
 Compare energy plans 
 Internet 
 Solar and batteries 
 LPG 
 Electric vehicles 
 Energy for apartments 
 Origin Rewards 
 Energy Happy Hours 
 Everyday Rewards 
 Fuel offer 
 Origin Movies 
 Origin Spike 
 Refer a friend 
 Small Business 
 Move my business 
 Business electricity and gas 
 Compare business energy plans 
 Internet for business 
 Business solar and batteries 
 LPG bottles for business 
 Electric vehicles for business 
 Enterprise 
 Enterprise electricity and gas 
 Lower carbon solutions 
 Enterprise solar and batteries 
 Electric vehicle fleets 
 Energy reporting 
 Help and Support 
 Billing and payments 
 Financial assistance 
 Outages and emergencies 
 Internet outages 
 New meter connections 
 Account management 
 Make a payment 
 Log in to My Account 
 EnergyZone for enterprise 
 Log in to LPG for Business 
 Origin 
 About 
 Blog 
 Origin Home 
 Origin Foundation 
 Careers 
 Sitemap 
 Legal 
 Privacy 
 Terms of use 
 Terms and conditions 
 Internet terms and conditions 
 Critical Information Summaries 
 Residential plan documents 
 Business plan documents 
 All kinds of useful 
 © 2026 Origin Energy Limited
 At Origin, we acknowledge Aboriginal and Torres Strait Islander people as the Traditional Owners and Custodians of Country throughout Australia and we pay our respect to elders past and present." 1 :add]
 ["zsn2lwnp-tos-1" :tos/source-url "https://www.originenergy.com.au/terms-of-use" 1 :add]
 ["zsn2lwnp-tos-1" :tos/retrieved-at "2026-07-19T10:03:41Z" 1 :add]
 ["zsn2lwnp-tos-1" :tos/sha256 "4d674cf2fa817ac59f0e6d14429f6da295dd5723857965cc2066c7ef3d211c0a" 1 :add]
 ["zsn2lwnp-tos-1" :tos/doc-type :legal-notice 1 :add]]
